.idea/
*.iml
_site/
.sass-cache/
.jekyll-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages

/test/
/build/flutter_assets/
*.dill
.dart_tool/
.dart_tool/package_config.json
.dart_tool/package_config_subset
/build/
pubspec.lock
dotenv
